In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB

In [ ]:
XGBC = xgboost.XGBClassifier()

In [5]:
scaled_data = pd.read_csv('Data/final_scaled_data.csv')
scaled_data.head()

        age  sex       TSH  TSH measured  pregnant  ...  psych  on thyroxine  sick  labels  continues_target
0  0.268293    0  0.007726             1         0  ...      0             0     0       2            1442.0
1  0.548780    1  0.001840             1         0  ...      0             0     0       2            2965.0
2  0.841463    0  0.000292             1         0  ...      0             1     0       2             806.0
3  0.841463    0  0.001349             1         0  ...      0             0     0       2            2807.0
4  0.207317    0  0.000047             1         0  ...      0             1     0       2            3434.0

[5 rows x 15 columns]

In [6]:
without_scaled_data = pd.read_csv('Data/final_without_scaled_data.csv')
without_scaled_data.head()

    age  sex   TSH  TSH measured  pregnant  ...  psych  on thyroxine  sick  labels  continues_target
0  23.0    0  4.10             1         0  ...      0             0     0       2            1442.0
1  46.0    1  0.98             1         0  ...      0             0     0       2            2965.0
2  70.0    0  0.16             1         0  ...      0             1     0       2             806.0
3  70.0    0  0.72             1         0  ...      0             0     0       2            2807.0
4  18.0    0  0.03             1         0  ...      0             1     0       2            3434.0

[5 rows x 15 columns]

In [9]:
df = without_scaled_data[without_scaled_data['age']<84]
df.head()

    age  sex   TSH  TSH measured  pregnant  ...  psych  on thyroxine  sick  labels  continues_target
0  23.0    0  4.10             1         0  ...      0             0     0       2            1442.0
1  46.0    1  0.98             1         0  ...      0             0     0       2            2965.0
2  70.0    0  0.16             1         0  ...      0             1     0       2             806.0
3  70.0    0  0.72             1         0  ...      0             0     0       2            2807.0
4  18.0    0  0.03             1         0  ...      0             1     0       2            3434.0

[5 rows x 15 columns]

In [10]:
scaled_data.shape

(3682, 15)

In [12]:
df.shape

(3682, 15)

## Model Building without scaling data

In [13]:
x = df.drop(['labels','continues_target'],axis = 1)
y = df['labels']

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)